In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale, StandardScaler

In [2]:
import pickle

import flask
from flask import Flask, request, render_template, url_for

In [4]:
path = r"C:\Users\LENOVO\Documents\M Learning/data01.csv"
df = pd.read_csv(path)
df.head(3)

,group,ID,outcome,age,gendera,BMI,hypertensive,atrialfibrillation,CHD with no MI,diabetes,...,Blood sodium,Blood calcium,Chloride,Anion gap,Magnesium ion,PH,Bicarbonate,Lactic acid,PCO2,EF
0,1,125047,0.0,72,1,37.588179,0,0,0,1,...,138.750000,7.463636,109.166667,13.166667,2.618182,7.230,21.166667,0.5,40.0,55
1,1,139812,0.0,75,2,NaN,0,0,0,0,...,138.888889,8.162500,98.444444,11.444444,1.887500,7.225,33.444444,0.5,78.0,55
2,1,109787,0.0,83,2,26.572634,0,0,0,0,...,140.714286,8.266667,105.857143,10.000000,2.157143,7.268,30.571429,0.5,71.5,35

In [6]:
df.isnull().sum(), df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1177 entries, 0 to 1176
Data columns (total 51 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   group                     1177 non-null   int64
 1   ID                        1177 non-null   int64
 2   outcome                   1176 non-null   float64
 3   age                       1177 non-null   int64
 4   gendera                   1177 non-null   int64
 5   BMI                       962 non-null    float64
 6   hypertensive              1177 non-null   int64
 7   atrialfibrillation        1177 non-null   int64
 8   CHD with no MI            1177 non-null   int64
 9   diabetes                  1177 non-null   int64
 10  deficiencyanemias         1177 non-null   int64
 11  depression                1177 non-null   int64
 12  Hyperlipemia              1177 non-null   int64
 13  Renal failure             1177 non-null   int64
 14  COPD                      1177 non-null   int64
 15  heart rate                1164 non-null   float64
 16  Systolic blood pressure   1161 non-null   float64
 17  Diastolic blood pressure  1161 non-null   float64
 18  Respiratory rate          1164 non-null   float64
 19  temperature               1158 non-null   float64
 20  SP O2                     1164 non-null   float64
 21  Urine output              1141 non-null   float64
 22  hematocrit                1177 non-null   float64
 23  RBC                       1177 non-null   float64
 24  MCH                       1177 non-null   float64
 25  MCHC                      1177 non-null   float64
 26  MCV                       1177 non-null   float64
 27  RDW                       1177 non-null   float64
 28  Leucocyte                 1177 non-null   float64
 29  Platelets                 1177 non-null   float64
 30  Neutrophils               1033 non-null   float64
 31  Basophils                 918 non-null    float64
 32  Lymphocyte                1032 non-null   float64
 33  PT                        1157 non-null   float64
 34  INR                       1157 non-null   float64
 35  NT-proBNP                 1177 non-null   float64
 36  Creatine kinase           1012 non-null   float64
 37  Creatinine                1177 non-null   float64
 38  Urea nitrogen             1177 non-null   float64
 39  glucose                   1159 non-null   float64
 40  Blood potassium           1177 non-null   float64
 41  Blood sodium              1177 non-null   float64
 42  Blood calcium             1176 non-null   float64
 43  Chloride                  1177 non-null   float64
 44  Anion gap                 1177 non-null   float64
 45  Magnesium ion             1177 non-null   float64
 46  PH                        885 non-null    float64
 47  Bicarbonate               1177 non-null   float64
 48  Lactic acid               948 non-null    float64
 49  PCO2                      883 non-null    float64
 50  EF                        1177 non-null   int64
dtypes: float64(37), int64(14)
memory usage: 469.1 KB

(group                         0
 ID                            0
 outcome                       1
 age                           0
 gendera                       0
 BMI                         215
 hypertensive                  0
 atrialfibrillation            0
 CHD with no MI                0
 diabetes                      0
 deficiencyanemias             0
 depression                    0
 Hyperlipemia                  0
 Renal failure                 0
 COPD                          0
 heart rate                   13
 Systolic blood pressure      16
 Diastolic blood pressure     16
 Respiratory rate             13
 temperature                  19
 SP O2                        13
 Urine output                 36
 hematocrit                    0
 RBC                           0
 MCH                           0
 MCHC                          0
 MCV                           0
 RDW                           0
 Leucocyte                     0
 Platelets                     0
 Neutrophils                 144
 Basophils                   259
 Lymphocyte                  145
 PT                           20
 INR                          20
 NT-proBNP                     0
 Creatine kinase             165
 Creatinine                    0
 Urea nitrogen                 0
 glucose                      18
 Blood potassium               0
 Blood sodium                  0
 Blood calcium                 1
 Chloride                      0
 Anion gap                     0
 Magnesium ion                 0
 PH                          292
 Bicarbonate                   0
 Lactic acid                 229
 PCO2                        294
 EF                            0
 dtype: int64,
 None)

In [7]:
df.columns

Index(['group', 'ID', 'outcome', 'age', 'gendera', 'BMI', 'hypertensive',
       'atrialfibrillation', 'CHD with no MI', 'diabetes', 'deficiencyanemias',
       'depression', 'Hyperlipemia', 'Renal failure', 'COPD', 'heart rate',
       'Systolic blood pressure', 'Diastolic blood pressure',
       'Respiratory rate', 'temperature', 'SP O2', 'Urine output',
       'hematocrit', 'RBC', 'MCH', 'MCHC', 'MCV', 'RDW', 'Leucocyte',
       'Platelets', 'Neutrophils', 'Basophils', 'Lymphocyte', 'PT', 'INR',
       'NT-proBNP', 'Creatine kinase', 'Creatinine', 'Urea nitrogen',
       'glucose', 'Blood potassium', 'Blood sodium', 'Blood calcium',
       'Chloride', 'Anion gap', 'Magnesium ion', 'PH', 'Bicarbonate',
       'Lactic acid', 'PCO2', 'EF'],
      dtype='object')

In [19]:
X =  df[['age', 'gendera', 'BMI','depression','temperature']]
y = df['diabetes']

In [15]:
X.head()

   age  gendera        BMI  depression  temperature
0   72        1  37.588179           0    36.714286
1   75        2        NaN           0    36.682540
2   83        2  26.572634           0    36.453704
3   43        2  83.264629           0    36.287037
4   75        2  31.824842           0    36.761905

In [16]:
X.describe()

               age      gendera         BMI   depression  temperature
count  1177.000000  1177.000000  962.000000  1177.000000  1158.000000
mean     74.055225     1.525064   30.188278     0.118946    36.677286
std      13.434061     0.499584    9.325997     0.323863     0.607558
min      19.000000     1.000000   13.346801     0.000000    33.250000
25%      65.000000     1.000000   24.326461     0.000000    36.286045
50%      77.000000     2.000000   28.312474     0.000000    36.650794
75%      85.000000     2.000000   33.633509     0.000000    37.021991
max      99.000000     2.000000  104.970366     1.000000    39.132478

In [17]:
X.isnull().sum()

age              0
gendera          0
BMI            215
depression       0
temperature     19
dtype: int64

In [20]:
# Remplacer les valeurs manquantes par leur moyenne
X['BMI'].fillna(X['BMI'].mean(), inplace = True)
X['temperature'].fillna(X['temperature'].mean(), inplace = True)

C:\Users\LENOVO\AppData\Roaming\Python\Python39\site-packages\pandas\core\generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [21]:
X.head()

   age  gendera        BMI  depression  temperature
0   72        1  37.588179           0    36.714286
1   75        2  30.188278           0    36.682540
2   83        2  26.572634           0    36.453704
3   43        2  83.264629           0    36.287037
4   75        2  31.824842           0    36.761905

In [23]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1177 entries, 0 to 1176
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          1177 non-null   int64
 1   gendera      1177 non-null   int64
 2   BMI          1177 non-null   float64
 3   depression   1177 non-null   int64
 4   temperature  1177 non-null   float64
dtypes: float64(2), int64(3)
memory usage: 46.1 KB

## Partitionnage et Conception

In [27]:
from sklearn.model_selection import train_test_split

X_train, X_test,y_train, y_test = train_test_split(X , y, test_size = 0.2, random_state = 42)
X_train.shape, X_test.shape

((941, 5), (236, 5))

In [25]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [28]:
# Initialiser les modÃ¨les
models = [LogisticRegression(), KNeighborsClassifier(), DecisionTreeClassifier(), RandomForestClassifier()]
model_names = ['Logistic Regression', 'KNN', 'Decision Tree', 'Random Forest']
acc = []
# Boucle sur les modÃ¨les et effectuer la classification
for model, model_name in zip(models, model_names):
    classif = model
    classif.fit(X_train, y_train)
    y_pred = classif.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    print(f"Accuracy of {model_name}: {np.round(accuracy, 3)}")
    # Stocker les scores de prÃ©cision pour chaque modÃ¨le dans un dataframe
    acc.append(accuracy)

Accuracy of Logistic Regression: 0.559
Accuracy of KNN: 0.555
Accuracy of Decision Tree: 0.547
Accuracy of Random Forest: 0.53

In [42]:
# CrÃ©ation d'une instance du modÃ¨le
model = RandomForestClassifier()

# EntraÃ®nement du modÃ¨le sur les donnÃ©es d'entraÃ®nement
model.fit(X_train, y_train)

# PrÃ©diction sur les donnÃ©es de test
y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print(accuracy)

0.597457627118644

In [43]:
from sklearn.metrics import confusion_matrix

conf_max = confusion_matrix(y_test, y_pred)
print(conf_max)

[[94 38]
 [57 47]]

In [45]:
col = model.predict(X_train)
accuracy_score(y_train, col)

1.0

In [46]:
with open('diab.pkl', 'wb') as f:
    pickle.dump(model, f)

In [48]:
with open('diab.pkl', 'rb') as f:
    modele = pickle.load(f)

In [49]:
X.head()

   age  gendera        BMI  depression  temperature
0   72        1  37.588179           0    36.714286
1   75        2  30.188278           0    36.682540
2   83        2  26.572634           0    36.453704
3   43        2  83.264629           0    36.287037
4   75        2  31.824842           0    36.761905

In [54]:
prediction = modele.predict([[72,1,37,0,36]])
if prediction[0]==0:
    pred = "No diabete"
else:
    pred = "Diabete"
pred

C:\Users\LENOVO\AppData\Roaming\Python\Python39\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

'No diabete'